@import '../styles/fonts.css';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  color: #383838;
}

.container {
  /* max-width: 1232px; */
  margin: 0 auto;
  padding: 0;
}

.header {
  background-image: url('../images/png/castelmezzano.png');
  background-repeat: no-repeat;
}

.header__container {
  max-width: 1232px;
  min-height: 900px;
  padding: 51px 0;
}

.logo__vector {
  width: 205px;
  height: 40px;
}

.section__header--top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin-top: 7px;
}

.nav__link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 4px solid transparent;
  padding-bottom: 10px;
}

.nav__link:focus {
  border-bottom: 4px solid #f5bd41;
}

.nav__link:hover {
  border-bottom: 4px solid #f5bd41;
}

.nav__link:nth-child(1) {
  margin-right: 25px;
}

.nav {
  margin-left: auto;
  padding-right: 20px;
}

.header__button--light {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 25px;
}

.header__light {
  display: flex;
}

.icon__night {
  width: 30px;
  height: 30px;
}

.icon__account {
  background-size: contain;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  fill: #ffffff;
}

.icon__night,
.icon__account,
.nav__link {
  transition: 0.3s;
}

.icon__account:hover {
  filter: invert(22%) sepia(45%) saturate(672%) hue-rotate(344deg)
    brightness(95%) contrast(102%);
}

.icon__night:hover {
  filter: invert(22%) sepia(45%) saturate(672%) hue-rotate(344deg)
    brightness(95%) contrast(102%);
}

.section__header--top {
  margin-bottom: 191px;
}

.header__name {
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 98px;
}

.input__group--label {
  color: #ffffff;
  padding-left: 25px;
}

.input1,
.input2,
.input3 {
  background-color: white;
  margin-top: 22px;
}

.input1 {
  border-radius: 8px 0 0 8px;
}

.input__group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 120px;
}

.input__group--input,
.input__group--label {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.input__group--input {
  padding-left: 24px;
  color: #383838;
}

.input__group--input:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
  outline: 0;
  outline-offset: 0;
}

.header__choice--city {
  width: 467px;
  border-radius: 8px 0 0 8px;
  border-left: 3px solid #f3f3f4;
  border-right: 0;
}

.header__choice--data {
  width: 259px;
}

.header__choice--people {
  width: 314px;
}

.header__choice--people,
.header__choice--data {
  border-right: 0;
  border-left: 0;
}

.header__choice--city,
.header__choice--people,
.header__choice--data {
  height: 64px;
  border-top: 3px solid #f3f3f4;
  border-bottom: 3px solid #f3f3f4;
}

.header__button {
  height: 64px;
  width: 192px;
  color: #ffffff;
  background-color: #3077c6;
  border-radius: 8px;
  border: 0;
  font-size: 24px;
  margin-top: 43px;
}

.header__app {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.header__app--link:nth-child(2) {
  margin-left: 16px;
}

.main__offer {
  max-width: 1232px;
  margin: 0 auto;
  height: 569px;
}

h2 {
  padding-top: 85px;
  font-size: 40px;
  margin-bottom: 20px;
}

hr {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: #f5bd41;
  margin-bottom: 80px;
}

.main__offer--parts {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;
  align-items: center;
}

.main__support,
.main__communication,
.main__booking,
.main__reviews {
  display: flex;
  flex-direction: column;
  /*background: red;*/
  /*width: calc(25% - 16px);*/
  /*margin: 8px;*/
  text-align: center;
  justify-content: center;
}

.icon__offer {
  height: 100px;
  margin-bottom: 50px;
}

.text {
  font-size: 24px;
  font-weight: 400;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.main__homes {
  height: 828px;
  background-color: #eaf0f9;
}

.main__homes--hotel {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.main__russia,
.main__spain,
.main__slowakia,
.main__germany {
  display: flex;
  flex-direction: column;
  width: calc(25% - 12px);
  margin: 6px;
  justify-content: space-between;
}

.title_homes {
  margin-bottom: 76px;
}

.main__name--img,
.main__name--country {
  font-size: 24px;
  font-weight: 400;
  padding-top: 24px;
  text-align: left;
}

.main__name--img {
  color: #3077c6;
}

.main__name--country {
  color: #bfbfbf;
  padding: 0;
}

.main__homes--button {
  position: relative;
  top: 135px;
  right: 40px;
}

.button__switch {
  position: absolute;
  background-color: transparent;
  border: 0;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 360px) {
}

.footer {
  height: 630px;
  background-color: #10367c;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.footer__parts {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  margin-left: 104px;
  margin-right: 272px;
}

.footer__item {
  display: block;
  padding-top: 24px;
  font-style: normal;
}

.footer__title {
  margin: 0;
  font-weight: 500;
}

.footer__property {
  margin-left: -55px;
}

.footer__copyright {
  margin-top: 65px;
  margin-left: 104px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .col-m-6 {
    width: 50%;
  }

  .main__offer--parts {
    justify-content: center;
  }

  h2 {
    padding-top: 35px;
    font-size: 30px;
  }

  hr {
    margin-bottom: 50px;
  }

  .icon__offer {
    margin-bottom: 20px;
    margin-top: 25px;
  }

  .main__homes {
    height: 870px;
  }

  .main__homes--hotel {
    justify-content: center;
  }

  .title_homes {
    margin: 0;
  }

  .main__spain,
  .main__russia,
  .main__germany,
  .main__slowakia {
    margin-left: 40px;
    width: calc(50% - 80px);
  }

  .main__homes--hotel {
    padding: 8px;
  }

  .main__name--img,
  .main__name--country {
    font-size: 15px;
    padding-top: 5px;
  }

  .main__name--country {
    margin: 0;
  }

  .footer__parts {
    margin-right: 104px;
    font-size: 18px;
  }

  .footer__about .footer__item:nth-child(2) {
    width: 160px;
  }
}

@media screen and (max-width: 360px) {
  .main__offer {
    height: 641px;
  }

  .main__support,
  .main__communication,
  .main__booking,
  .main__reviews {
    align-items: center;
  }

  h2 {
    margin-top: 24px;
    font-size: 28px;
    margin-bottom: 33px;
    padding: 0;
  }

  hr {
    display: none;
  }

  .col-s-12 {
    width: 100%;
  }

  .text {
    font-size: 15px;
    margin-bottom: 37px;
  }

  .icon__offer {
    margin-bottom: 16px;
    margin-top: 0;
    width: 70px;
    height: 70px;
  }

  .main__homes {
    height: 354px;
    background-color: #eaf0f9;
  }

  .main__homes--hotel {
    padding: 0;
  }

  .title_homes {
    margin-bottom: -8px;
  }

  .main__slowakia,
  .main__germany {
    display: none;
  }

  .main__spain,
  .main__russia {
    width: calc(50% - 32px);
    margin-left: 0;
  }

  .main__name--img,
  .main__name--country {
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
    text-align: left;
  }

  .main__name--img {
    padding-bottom: 4px;
  }

  .main__name--country {
    margin: 0;
  }

  .main__homes--button {
    top: 65px;
    right: 33px;
  }

  .button__switch--img {
    width: 32px;
  }

  .footer {
    background-image: url('../images/svg/logo_vector_footer.svg');
    background-repeat: no-repeat;
    background-position: top 40px center;
    height: 203px;
  }

  .footer__parts {
    justify-content: space-between;
    padding-top: 90px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 67px;
    padding-right: 67px;
    text-decoration: underline;
  }

  .footer__title {
    font-size: 15px;
  }

  .footer__item {
    display: none;
  }

  .footer__property {
    margin-left: 0;
  }

  .footer__copyright {
    margin-top: 32px;
    margin-left: 71px;
    font-size: 12px;
  }
}
