@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  color: #383838;
}

.container {
  width: 1440px;
}
.header {
  background-image: url("../images/png/castelmezzano.png");
  background-repeat: no-repeat;
}

.header-container {
  min-height: 900px;
  padding: 51px 104px;
}

.section-header_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-top: 7px;
}

.nav-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 4px solid transparent;
  padding-bottom: 10px;
}

.nav-link:focus {
  border-bottom: 4px solid #f5bd41;
}

.nav-link:hover {
  border-bottom: 4px solid #f5bd41;
}

.nav-link:nth-child(1) {
  margin-right: 25px;
}

.nav {
  margin-left: auto;
  padding-right: 20px;
}

.header-button_light {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding-right: 22px;
}

.header-account {
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.header-account:hover {
  filter: invert(22%) sepia(45%) saturate(672%) hue-rotate(344deg)
    brightness(95%) contrast(102%);
}

.section-header_top {
  margin-bottom: 191px;
}

.header-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
}

.header-inscription {
  padding-top: 55px;
  padding-left: 25px;
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

.header-inscription span:nth-child(1) {
  padding-right: 217px;
}

/*start variant_2*/

.input-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 120px;
  background-color: #ffffff;
  border-radius: 8px;
}

.input-group_input {
  padding-left: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #383838;
}

.input-group_input:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
  outline: 0;
  outline-offset: 0;
}

.header-choice_city {
  width: 467px;
  border-radius: 8px 0 0 8px;
  border-left: 3px solid #f3f3f4;
  border-right: 0 solid;
}

.header-choice_data {
  width: 259px;
}

.header-choice_people {
  width: 314px;
}

.header-choice_people,
.header-choice_data {
  border-right: 0 solid;
  border-left: 0 solid;
}

.header-choice_city,
.header-choice_people,
.header-choice_data {
  height: 64px;
  border-top: 3px solid #f3f3f4;
  border-bottom: 3px solid #f3f3f4;
}

.header-button {
  width: 192px;
  color: #ffffff;
  background-color: #3077c6;
  border-radius: 8px;
  border: 0;
  font-size: 24px;
}
/*end variant_2*/

.header-app {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.header-app_link:nth-child(2) {
  margin-left: 16px;
}

.container {
  height: 569px;
}

h2 {
  width: 340px;
  margin: 120px auto 20px auto;
  font-size: 40px;
  text-align: center; /*i am not sure i need it, but it looks better on the page */
  font-family: "Roboto", sans-serif;
}

hr {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: #f5bd41;
  margin-bottom: 80px;
}

.support,
.communication,
.booking,
.reviews {
  width: 296px;
  margin: 0 auto;
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.text,
.image {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.image {
  margin-bottom: 45px;
}

.support {
  margin-left: 104px;
}

.footer {
  height: 630px;
  background-color: #10367c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.footer-parts {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  margin-left: 104px;
  margin-right: 272px;
}

.footer-item {
  display: block;
  padding-top: 24px;
  font-style: normal;
}

.footer-title {
  margin: 0;
  font-weight: 500;
}

.footer-property {
  margin-left: -55px;
}

.footer-copyright {
  margin-top: 65px;
  margin-left: 104px;
  font-size: 14px;
}
