@import "../styles/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  color: #383838;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0;
  /* border: 4px solid red; */
}

.header {
  background-image: url("../images/png/castelmezzano.png");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}

.header__container {
  max-width: 1232px;
  min-height: 900px;
  padding: 51px 0;
}

.section__header--top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*add*/
/*.header__logo{*/
/*  width:100%;*/
/*}*/

.logo__vector {
  width: 205px;
  height: 40px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin-top: 7px;
  /*width: 25%;*/
}

.nav__item {
  position: relative;
}

.nav__link {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.nav__link::after {
  background-color: transparent;
  position: absolute;
  display: block;
  width: calc(100% - 35px);
  height: 4px;
  content: "";
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.nav__link:focus::after,
.nav__link:hover::after {
  background-color: #f5bd41;
  transition: 0.9s;
}

.nav__link:nth-child(1) {
  margin-right: 25px;
}

.nav {
  margin-left: auto;
  padding-right: 20px;
}

.btn {
  cursor: pointer;
  border: 0;
}

.header__button--light {
  background-color: transparent;
  padding-right: 25px;
}

.header__icon {
  display: flex;
}

.icon__night {
  width: 30px;
  height: 30px;
}

.icon__account {
  background-size: contain;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  fill: #ffffff;
}
.icon__menu {
  display: none;
}

.icon__night,
.icon__account,
.nav__link {
  transition: 0.9s;
}

.icon__account:hover {
  filter: invert(22%) sepia(45%) saturate(672%) hue-rotate(344deg)
    brightness(95%) contrast(102%);
}

.icon__night:hover {
  filter: invert(22%) sepia(45%) saturate(672%) hue-rotate(344deg)
    brightness(95%) contrast(102%);
}

.section__header--top {
  margin-bottom: 191px;
}

.header__name {
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 98px;
}

.input__group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 120px;
  max-width: 1232px;
  /*background-color: #f3f3f4;*/
}

.container__forms--first {
  width: 38%;
}

.container__forms--second {
  display: flex;
  width: 21%;
}

.forms__check--in {
  width: 50%;
}

.forms__check--out {
  width: 50%;
}

.container__forms--third {
  width: 25%;
}

/*.container__forms--button{*/
/*  width: 10%;*/
/*}*/

.input__group--label {
  color: #ffffff;
  padding-left: 25px;
}

.input1,
.input2_1,
.input2_2,
.input3 {
  background-color: #f3f3f4;
  margin-top: 22px;
}

.container__forms--button {
  background-color: #f3f3f4;
  height: 64px;
  width: 100px;
  margin-top: 43px;
}

.input1 {
  border-radius: 8px 0 0 8px;
}

.input__group--input,
.input__group--label {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.input__group--input {
  padding-left: 24px;
  color: #383838;
}

.input__group--input:focus {
  border: 3px solid #f5bd41;
  border-radius: 8px;
  outline: 0;
  outline-offset: 0;
}

.header__choice--city {
  width: 100%;
  border-radius: 8px 0 0 8px;
  border-left: 3px solid #f3f3f4;
  border-right: 0;
}

.header__choice--data {
  width: 100%;
}

.header__choice--people {
  width: 100%;
}

.header__choice--people,
.header__choice--data {
  border-right: 0;
  border-left: 0;
}

.header__choice--city,
.header__choice--people,
.header__choice--data {
  height: 64px;
  border-top: 3px solid #f3f3f4;
  border-bottom: 3px solid #f3f3f4;
}

.header__button {
  height: 64px;
  width: 192px;
  color: #ffffff;
  background-color: #3077c6;
  border-radius: 8px;
  border: 0;
  font-size: 24px;
  /*margin-top: 43px;*/
}

.header__app {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.header__app--link:nth-child(2) {
  margin-left: 16px;
}

.main__offer {
  max-width: 1232px;
  margin: 0 auto;
  height: 569px;
}

h2 {
  padding-top: 85px;
  font-size: 40px;
  margin-bottom: 100px;
  font-weight: 500;
}

.main__title {
  position: relative;
}

h2::after {
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  content: "";
  background-color: #f5bd41;
  top: 187px;
  left: 37%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;
  align-items: center;
}

.main__offer--parts {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.main__support,
.main__communication,
.main__booking,
.main__reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.icon__offer {
  height: 100px;
  margin-bottom: 50px;
}

.text {
  font-size: 24px;
  font-weight: 400;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.main__container--homes {
  max-width: 1440px;
}

.main__homes {
  height: 828px;
  background-color: #eaf0f9;
}

.main__homes--hotel {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.main__russia,
.main__spain,
.main__slowakia,
.main__germany {
  display: flex;
  flex-direction: column;
  width: calc(25% - 26px);
  margin: 8px;
  justify-content: center;
}

.nav__link--country {
  text-decoration: none;
  color: #3077c6;
}

.main__name--img,
.main__name--country {
  font-size: 24px;
  font-weight: 400;
  padding-top: 24px;
  text-align: left;
}

.main__name--country {
  color: #bfbfbf;
  padding-top: 24px;
}

.main__homes--hotel {
  position: relative;
}

.button__switch--homes {
  background-color: transparent;
}

.icon__arrow--homes {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 33%;
  left: 98%;
  transform: translate(-50%, -50%);
}

.main__destinations {
  max-width: 1232px;
  margin: 0 auto;
  height: 958px;
}

.row__destinations {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
}

.main__destinations .main__title {
  position: relative;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.btn__destinations {
  height: 64px;
  width: 192px;
  color: #383838;
  background-color: #f3f3f4;
  border-radius: 8px 0 0 8px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 64px;
}

.btn__destinations:nth-child(2) {
  border-radius: 0;
}

.btn__destinations:nth-child(3) {
  border-radius: 0 8px 8px 0;
  width: 238px;
}

/*.btn__destinations:hover,*/
.btn__destinations:focus {
  color: #ffffff;
  background-color: #3077c6;
  border-radius: 8px;
}

.main__destinations--parts {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.main__maldives,
.main__spain,
.main__norway,
.main__island {
  display: flex;
  flex-direction: column;
  width: calc(25% - 15px);
  margin: 7px;
}

.main__destinations--parts .main__name--img {
  text-decoration: none;
  color: #3077c6;
}

.main__destinations--parts {
  position: relative;
}

.button__book {
  position: absolute;
  top: 35%;
  left: 6%;
}

.button__book,
.button__sign {
  width: 128px;
  height: 48px;
  border: 1px solid #3077c6;
  border-radius: 8px;
  color: #3077c6;
}

.button__switch--destinations {
  background-color: transparent;
}

.icon__arrow--destinations {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 106%;
  left: 48%;
  transform: rotate(90deg);
}

.row-sign {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eaf0f9;
  height: 200px;
}

.main__sign--icon {
  padding-left: 24px;
  /*padding-top: 57px;*/
}

.icon__sign {
  width: 86px;
  margin-right: 55px;
}
.main__sign--content {
  margin-left: -20px;
}

.discount {
  font-size: 24px;
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: 20px;
}

.main__sign--content {
}

.main__sign--cross {
  position: absolute;
  top: 13%;
  left: 96%;
}

.button__cross {
  background-color: transparent;
}

.button__cross > .icon__cross {
  width: 26px;
  height: 26px;
}

.footer__container {
  max-width: 1232px;
}

.footer {
  height: 630px;
  background-color: #10367c;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
  margin: 0;
}

.nav__footer--parts {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  /*justify-content: space-between;*/
  margin-top: 110px;
}

.footer__about,
.footer__property,
.footer__support {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*width: calc(33% - 208px);*/
  /*margin-right: 208px;*/
  padding-left: 0;
}

.footer__about {
  width: 193px;
  margin-right: 217px;
}

.footer__property {
  width: 133px;
  margin-right: 283px;
}
.footer__support {
  width: 250px;
}

.footer__item {
  display: block;
  padding-top: 24px;
  font-style: normal;
}

.footer__title {
  margin-bottom: 0;
  font-weight: 500;
}

.footer__nav--link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.footer__copyright {
  margin-top: 50px;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .nav__footer--parts {
    font-size: 18px;
    margin-left: 71px;
  }

  .footer__about,
  .footer__property,
  .footer__support {
    /*width: calc(33% - 180px);*/
    /*margin-right: 180px;*/
  }

  .footer__copyright {
    margin-left: 71px;
  }
}

@media screen and (max-width: 800px) {
  .footer__about,
  .footer__property,
  .footer__support {
    width: calc(33% - 50px);
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .col-m-6 {
    width: 50%;
  }

  .main__offer--parts {
    justify-content: center;
  }

  h2 {
    padding-top: 12px;
    font-size: 30px;
    margin-bottom: 20px;
  }

  h2::after {
    display: none;
  }

  .icon__offer {
    margin-bottom: 20px;
    margin-top: 25px;
  }

  .main__homes {
    height: 870px;
  }

  .main__homes--hotel {
    justify-content: center;
    padding: 8px;
  }

  .title_homes {
    margin: 0;
  }

  .main__spain,
  .main__russia,
  .main__germany,
  .main__slowakia {
    margin-left: 40px;
    width: calc(50% - 80px);
  }

  .main__name--img,
  .main__name--country {
    font-size: 20px;
    padding-top: 5px;
  }

  .main__name--country {
    margin: 0;
  }

 .icon__arrow--homes {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 48%;
    left: 96%;
    transform: translate(-50%, -50%);
  }

  .main__destinations {
    height: 870px;
  }

  .button__book,
  .main__container--sign {
    display: none;
  }

  .btn__destinations span {
    display: none;
  }

  .buttons {
    justify-content: space-around;
  }

  .btn__destinations:nth-child(1),
  .btn__destinations:nth-child(2),
  .btn__destinations:nth-child(3) {
    border-radius: 8px;
    width: 100px;
  }

  .btn__destinations {
    height: 45px;
    color: #383838;
    background-color: #ffffff;
    border: 1px solid #f3f3f4;
    font-size: 21px;
    font-weight: 400;
    margin-right: 8px;
   margin-bottom: 0;
  }

  .main__destinations--parts {
    justify-content: center;
    padding: 8px;
  }

  .main__maldives,
  .main__spain,
  .main__norway,
  .main__island {
    margin-left: 40px;
    width: calc(50% - 80px);
  }

  .icon__arrow--destinations {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 48%;
    left: 96%;
    transform: translate(-50%, -50%);
  }


}

@media screen and (max-width: 600px) {
  .main__homes {
    height: 700px;
  }

  .main__name--img,
  .main__name--country {
    font-size: 12px;
    padding-top: 5px;
  }

  .main__destinations {
    height: 650px;
  }
}

@media screen and (max-width: 500px) {
  .main__homes {
    height: 600px;
  }

  .main__destinations {
    height: 530px;
  }

  .footer {
    background-image: url("../images/svg/logo_vector_footer.svg");
    background-repeat: no-repeat;
    background-position: top 40px center;
    height: 203px;
  }

  .nav__footer--parts {
    margin-top: 85px;
    /*font-size: 15px;*/
  }

  .footer__item {
    display: none;
  }

  .footer__title .footer__nav--link {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 500;
  }

  .footer__copyright {
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
  }
}

@media screen and (max-width: 360px) {
  .main__offer {
    height: 641px;
  }

  .main__support,
  .main__communication,
  .main__booking,
  .main__reviews {
    align-items: center;
  }

  h2 {
    margin-top: 24px;
    font-size: 28px;
    margin-bottom: 33px;
    padding: 0;
  }

  h2::after {
    display: none;
  }

  .col-s-12 {
    width: 100%;
  }

  .text {
    font-size: 15px;
    margin-bottom: 37px;
  }

  .icon__offer {
    margin-bottom: 16px;
    margin-top: 0;
    width: 70px;
    height: 70px;
  }

  .main__homes {
    height: 354px;
    background-color: #eaf0f9;
  }

  .main__homes--hotel {
    padding: 0;
  }

  .title_homes {
    margin-bottom: -8px;
  }

  .main__slowakia,
  .main__germany {
    display: none;
  }

  .main__spain,
  .main__russia {
    width: calc(50% - 32px);
    margin-left: 0;
  }

  .main__name--img,
  .main__name--country {
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
    text-align: left;
  }

  .main__name--img {
    padding-bottom: 4px;
  }

  .main__name--country {
    margin: 0;
  }

  .main__homes--button {
    top: 65px;
    right: 33px;
  }

  .icon__arrow--homes {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 40%;
    left: 95%;
    transform: translate(-50%, -50%);
  }

  .main__container--destinations {
    height: 379px;
  }

  .main__destinations .main__title {
    margin-top: 15px;
  }

  .buttons {
    justify-content: space-around;
    margin-top: 0;
  }

  .btn__destinations {
    height: 32px;
    width: 99px;
    color: #383838;
    background-color: #ffffff;
    border: 1px solid #f3f3f4;
    border-radius: 4px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-right: 16px;
  }

  .btn__destinations span {
    display: none;
  }

  .btn__destinations:nth-child(3) {
    width: 99px;
    margin-right: 0;
  }
  .btn__destinations:nth-child(1),
  .btn__destinations:nth-child(2),
  .btn__destinations:nth-child(3) {
    border-radius: 4px;
  }

  .main__maldives,
  .main__spain {
    width: calc(50% - 21px);
    margin-left: 9px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main__name--img {
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
    text-align: left;
  }

  .main__name--img {
    padding-bottom: 4px;
  }

  .icon__arrow--destinations {
    width: 28px;
    height: 28px;
    top: 35%;
    left: 91%;
    transform: rotate(0deg);
  }

  .main__norway,
  .main__island,
  .button__book,
  .main__container--sign {
    display: none;
  }

  .footer {
    background-image: url("../images/svg/logo_vector_footer.svg");
    background-repeat: no-repeat;
    background-position: top 40px center;
    height: 203px;
  }

  .nav__footer--parts {
    margin-top: 85px;
    /*font-size: 15px;*/
  }

  .footer__item {
    display: none;
  }

  .footer__title .footer__nav--link {
    font-size: 15px;
    text-decoration: underline;
    font-weight: 500;
  }

  .footer__copyright {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
  }
}
